build/android/libs/
build/android/obj/local/armeabi/objs/ApplicationTemplate/c_/Users/codeneko/Dropbox/Development/projects/ApplicationTemplate/build/
build/android/obj/local/armeabi/objs/ApplicationTemplate/home/
build/android/obj/local/armeabi/objs/mylo/c_/Users/codeneko/Dropbox/Development/projects/ApplicationTemplate/build/
build/android/obj/local/armeabi/objs/mylo/c_/Users/codeneko/Dropbox/Development/projects/ApplicationTemplate/src/platform/android/jni/__/__/__/common/mylo/trace.o
build/android/obj/local/armeabi/objs/mylo/c_/Users/codeneko/Dropbox/Development/projects/ApplicationTemplate/src/platform/android/jni/__/__/__/common/mylo/trace.o.d
build/android/obj/local/armeabi/objs/mylo/home/
build/android/obj/local/armeabi/objs/png/c_/Users/codeneko/Dropbox/Development/projects/ApplicationTemplate/build/
build/android/obj/local/armeabi/objs/png/home/
build/linux/
build/windows/.vs/
build/windows/BowlingGame/
build/windows/BowlingGameTest/
build/windows/Debug/ApplicationTemplate.exe
build/windows/Debug/ApplicationTemplate.ilk
build/windows/Debug/ApplicationTemplate.pdb
build/windows/Debug/lua.lib
build/windows/Debug/lua.pdb
build/windows/Debug/tests.dll
build/windows/Debug/tests.exp
build/windows/Debug/tests.ilk
build/windows/Debug/tests.lib
build/windows/Debug/tests.pdb
build/windows/Release/
build/windows/ipch/
build/windows/lua/Debug/
build/windows/lua/Release/
build/windows/project/Debug/
build/windows/project/Release/
build/windows/test/
build/windows/tests/Debug/
build/windows/windows (TARDIS's conflicted copy 2016-02-21).sdf
build/windows/windows.sdf
results.txt
src/.deps/
src/.dirstamp
src/mylo/.deps/
src/mylo/.dirstamp
src/mylo/.libs/
src/mylo/platform/.deps/
src/mylo/platform/.dirstamp
src/mylo/platform/.libs/
src/mylo/platform/implementation/.deps/
src/mylo/platform/implementation/.dirstamp
src/mylo/platform/implementation/.libs/
src/mylo/platform/implementation/libmylo_la-posix.lo
src/mylo/platform/implementation/libmylo_la-posix.o
src/mylo/platform/implementation/opensl.cpp.bak
src/mylo/platform/libmylo_la-keys.lo
src/mylo/platform/libmylo_la-keys.o
src/third_party/glm/
src/third_party/glu/
src/third_party/jxcore/
src/third_party/linmath/
src/third_party/moderngl_camera/
assets/models/
assets/sounds/
assets/textures/landscape2.tga
build/android/bin/classes/com/android/ApplicationTemplate/ApplicationTemplateActivity$2.class
build/android/bin/classes/com/android/ApplicationTemplate/ApplicationTemplateActivity$3.class
build/android/bin/dexedLibs/
build/windows/windows.VC.VC.opendb
build/windows/windows.VC.db
src/third_party/pcre2/
